@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.Shipment.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].ShipmentNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].ShipmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].WarehouseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].ShippedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].ShippedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipment_App[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Shipment_App) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
