@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.BillDetail.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BillDetail_App</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.InventoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.InventoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.TransactionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.TransactionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.UnitCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.UnitCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Account)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.CostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.CostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.POOrderNbr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.POOrderNbr)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BillDetail_App.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
