@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.BillDetail.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BillDetail_App</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.InventoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.InventoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.TransactionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.TransactionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.UnitCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.UnitCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Account)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.CostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.CostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillDetail_App.POOrderNbr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillDetail_App.POOrderNbr)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BillDetail_App.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
