@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.BillDetail.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].InventoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].TransactionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].Account)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].CostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail_App[0].POOrderNbr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BillDetail_App) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.POOrderNbr)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
