@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.SalesOrder.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].OrderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].OrderNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].OrderedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].CurrencyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].ShipmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder_App[0].LastModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SalesOrder_App) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
