@page "{searchString?}"
@model RevisionTwo_App.Areas.Demo.Pages.SalesOrders.IndexModel
@{
    ViewData["Title"] = "Latest Sales Orders";
}

<h4 class="align-text-top text-muted">@ViewData["Title"]</h4><hr/>
<hr/>
<p>
    <a asp-page="Create"><i class="bi bi-plus-square" title="new"></i></a>&nbsp;&nbsp;&nbsp;<a asp-page="/Home/Index"><i class="bi bi-house" title="Demo Home"></i></a><img src="~/images/sales-order-icon-24.jpg" style="float:right;height:100px; width:100px;" title="Sales Orders"/>
</p>
<form method="post">
    <input type="text" class="datepicker" id="FromDate" name="FromDate" placeholder="From Date"/>&nbsp;-&nbsp;
    <input type="text" class="datepicker" id="ToDate" name="ToDate" placeholder="To Date" value="@Model.ToDate.ToString("d")"/>
    <input type="submit" value="Filter" asp-page-handler="Submit"/>
</form>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].OrderType)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].OrderNbr)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].Status)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].Date)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].ShipmentDate)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].CustomerID)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].CustomerName)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].OrderTotal)</th>
                <th>@Html.DisplayNameFor(model => model.CustomSalesOrderInfo[0].CurrencyID)</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.CustomSalesOrderInfo) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OrderType.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderNbr.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.Status.Value)</td>
                <td>@Convert.ToDateTime(item.Date.Value).ToString("MM/dd/yyyy")</td>
                <td>@Convert.ToDateTime(item.ShipmentDate.Value).ToString("MM/dd/yyyy")</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerID.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.CustomerName.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderTotal.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.CurrencyID.Value)</td>
                <td>
                    <span style="white-space: nowrap">
                        <a asp-page="/SalesOrders/Edit" asp-route-orderNbr="@item.OrderNbr.Value"><i class="bi bi-pencil-square" title="Edit"></i></a> |
                        <a asp-page="/SalesOrders/Details" asp-route-orderNbr="@item.OrderNbr.Value" asp-route-orderType="@item.OrderType.Value"><i class="bi bi-view-list" title="Details"></i></a> |
                        <a asp-page="/SalesOrders/Delete" asp-route-orderNbr="@item.OrderNbr.Value"><i class="bi bi-trash" title="Delete"></i></a>
                    </span>
                </td>
            </tr>
         }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="\js\datePicker.js"></script>
}
