@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.Case.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Case_App</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.CaseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.CaseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Subject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.BusinessAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.BusinessAccount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.BusinessAccountName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.BusinessAccountName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Severity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Severity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Workgroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Workgroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.ClassID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.ClassID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.LastActivityDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.LastActivityDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Case_App.LastModifiedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Case_App.LastModifiedDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Case_App.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
