@page
@model RevisionTwo_App.Areas.Demo.Pages.Clients.BillDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AR_BillDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.InventoryID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.InventoryID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.TransactionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.TransactionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.UnitCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.UnitCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.Account)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.CostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.CostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AR_BillDetail.POOrderNbr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AR_BillDetail.POOrderNbr)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="AR_BillDetail.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
