@page
@model RevisionTwo_App.Areas.Demo.Pages.Credentials.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Credentials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.IsChecked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.IsChecked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.SiteUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.SiteUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Tenant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Tenant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Locale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Locale)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Credentials.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
