@page
@model RevisionTwo_App.Areas.Demo.Pages.Credentials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Credentials</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.IsChecked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.IsChecked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.SiteUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.SiteUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Tenant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Tenant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credentials.Locale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credentials.Locale)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Credentials.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
