@page
@model RevisionTwo_App.Areas.Demo.Pages.Credentials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].IsChecked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].SiteUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credentials[0].Locale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Credentials) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsChecked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locale)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
